// page-clavier {

// }

.btn {
    margin-right: 10px;
    margin-bottom: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    width: 50px; //longeur
    height: 50px; //hauteur
    border-radius: 50%; //cercle
    border: 2px solid black; //bordure
    font-size: 30px;
}

.btn:hover, .btn-medical:hover {
    background-color: #b4b4b4 ;
}

.keyboard, .numero {
    display: block;
    left: 50%;
    transform: translate(-50%,-50%);
}

.keyboard {
    top : 50%;
    position: fixed;
    text-align: center;
}

.numero {
    position: fixed;
    top: 10%;
    text-align: center;
    font-size: 20px;
}

.btn-call {
    background-color: #53DD6C;
        margin-right: 10px;
        margin-bottom: 10px;
        width: 50px; //longeur
        height: 50px; //hauteur
        border-radius: 50%; //cercle
        border: 2px solid #53DD6C; //bordure
        font-size: 30px;
    }

.icon-phone {
    color : white;
}

.btn-call:hover {
    opacity: 0.7;
}

.btn-ghost {
    margin-right: 10px;
        margin-bottom: 10px;
        width: 50px; //longeur
        height: 50px; //hauteur
        border-radius: 50%; //cercle
        font-size: 30px;
}

.btn-medical {
    margin-right: 10px;
        margin-bottom: 10px;
        width: 50px; //longeur
        height: 50px; //hauteur
        border-radius: 50%; //cercle
        font-size: 30px;
        border: 2px solid black;
}

.btn-delete {
        margin-right: 10px;
        margin-bottom: 10px;
        width: 50px; //longeur
        height: 50px; //hauteur
        border-radius: 50%; //cercle
        font-size: 30px;
    }

.icon-delete:hover {
    opacity: 0.5;
}

