h1{
    margin-left: 20%;
}

.affichage{
    font-size: 20px;
    text-align: center;
}

.button{
    color: white;
    margin-top: 15%;
    margin-left: 25%;
    background-color: #32db64;
}
.modifcontact{
    margin-left: 28%;
    margin-top: 5%;
}